<?xml version="1.0" encoding="utf-8"?>
<configuration>
	<configSections>
  <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
   <section name="CapsLockIndicatorV3.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
  </sectionGroup>
 </configSections>
 <startup>
		<supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5"/>
	</startup>
 <userSettings>
  <CapsLockIndicatorV3.Properties.Settings>
      <setting name="numIco" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="capsIco" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="scrollIco" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="numInd" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="capsInd" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="scrollInd" serializeAs="String">
          <value>True</value>
      </setting>
      <setting name="noIco" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="noInd" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="beta_enableDarkMode" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="indDisplayTime" serializeAs="String">
          <value>500</value>
      </setting>
      <setting name="indBgColourActive" serializeAs="String">
          <value>66, 66, 66</value>
      </setting>
      <setting name="indFgColourActive" serializeAs="String">
          <value>White</value>
      </setting>
      <setting name="indBdColourActive" serializeAs="String">
          <value>77, 180, 52</value>
      </setting>
      <setting name="versionNo" serializeAs="String">
          <value>3.4.0.0</value>
      </setting>
      <setting name="hideOnStartup" serializeAs="String">
          <value>False</value>
      </setting>
      <setting name="indFont" serializeAs="String">
          <value>Segoe UI, 12pt</value>
      </setting>
      <setting name="indBgColourInactive" serializeAs="String">
          <value>66, 66, 66</value>
      </setting>
      <setting name="indFgColourInactive" serializeAs="String">
          <value>White</value>
      </setting>
      <setting name="indBdColourInactive" serializeAs="String">
          <value>180, 52, 77</value>
      </setting>
  </CapsLockIndicatorV3.Properties.Settings>
 </userSettings>
</configuration>
